Repository wnsxor1993/airbnb_team11, pull requests merged in 2022-06, with the labels that each got.

#40 [iOS] 3차 PR 리뷰 관련 리팩토링 #1
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/xcuserdata/zeto.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/Controller/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/View/BorwsingSpotCollectionView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/View/BrowsingSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Common/Controller/TabBarController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/CalendarViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/FindAccomodationViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Model/Day.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Model/MonthMetadata.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Model/UseCase/CalendarViewControllerUseCase.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/BudgetView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/CalendarCollectionCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/CalendarCollectionHeaderView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/CalendarView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/FindAccomodationCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/FindAccomodationView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Controller/HomewViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/UseCase/LocationManager.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/AroundSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/CollectionHeaderView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/HomeView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/MainEventCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/ThemeSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Reservation/Controller/ReservationViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Converter/DateConverter.swift
  iOS/Airbnb_iOS/Airbnb_iOS/WishList/Controller/WishlistViewController.swift
Labels: iOS, refactor

#43 [BE] 상세조회시 DTO를 반환하도록 변경
  BE/src/main/java/com/team11/airbnb/domain/Address.java
  BE/src/main/java/com/team11/airbnb/domain/Host.java
  BE/src/main/java/com/team11/airbnb/domain/Location.java
  BE/src/main/java/com/team11/airbnb/domain/Review.java
  BE/src/main/java/com/team11/airbnb/domain/Room.java
  BE/src/main/java/com/team11/airbnb/domain/RoomImage.java
  BE/src/main/java/com/team11/airbnb/domain/RoomInfo.java
  BE/src/main/java/com/team11/airbnb/domain/WishList.java
  BE/src/main/java/com/team11/airbnb/web/controller/RoomController.java
  BE/src/main/java/com/team11/airbnb/web/dto/HostDto.java
  BE/src/main/java/com/team11/airbnb/web/dto/RoomDetailDto.java
  BE/src/main/java/com/team11/airbnb/web/service/RoomService.java
Labels: refactor, BE

#44 [iOS] FindAccomodation 도메인 리팩토링 진행
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/CalendarViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/DataSource&Delegate/CalendarCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/DataSource&Delegate/FindAccomodationTableDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/DataSource&Delegate/FindAccomodationTableDelegate.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/FindAccomodationViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Model/AccomodationData.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Model/UseCase/CalendarUseCase.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/FindAccomodationView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/Int+.swift
Labels: iOS, refactor

#45 [iOS] 위치 관련 데이터 관리 객체 생성
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/Controller/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/Model/MKDataManager.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/View/BrowsingSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Controller/HomewViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/DataSource/BrowsingSpotCollectionDataSource.swift
Labels: iOS, feat

#49 [iOS] 4차 PR 리뷰 관련 리팩토링 #1
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/Controller/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/Model/MKDataManager.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/CalendarViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Model/UseCase/CalendarUseCase.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/Int+.swift
Labels: iOS, refactor

#50 [iOS] HomeVC 데이터 관리/처리 객체인 HomeDataManager 구현 및 뷰에 필요한 데이터 채워주는 로직 구현
  iOS/Airbnb_iOS/.swiftlint.yml
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/xcuserdata/zeto.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage@2x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage@3x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Common/Controller/TabBarController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Common/Model/Networking/AlamofireNet.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Common/Model/Networking/JSONConverter.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/CalendarViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Controller/DataSource/HomeViewCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Controller/HomeViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/HomeViewComponentsData.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/Service/HomeService.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/UseCase/HomeDataManager.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/HeroImageCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/HomeView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/MainEventCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/DataSource/SearchViewCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/String+.swift
  iOS/Airbnb_iOS/Podfile
  iOS/Airbnb_iOS/Podfile.lock
Labels: iOS, feat

#52 Feat/networking test
  iOS/Airbnb_iOS/.swiftlint.yml
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/xcuserdata/zeto.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/Airbnb_iOS/Airbnb_iOS/Common/Model/Networking/AlamofireNet.swift
  iOS/Airbnb_iOS/Airbnb_iOSTests/JSONConverterTests.swift
  iOS/Airbnb_iOS/Airbnb_iOSTests/NetworkingTest.swift
  iOS/Airbnb_iOS/Airbnb_iOSTests/mock.json
  iOS/Airbnb_iOS/Podfile
  iOS/Airbnb_iOS/Podfile.lock
Labels: iOS, feat

#55 [BE] 가까운 여행지 기능을 위한 행정지역 클래스 생성
  BE/src/main/java/com/team11/airbnb/domain/District.java
  BE/src/main/java/com/team11/airbnb/domain/Location.java
  BE/src/main/java/com/team11/airbnb/domain/MainEvent.java
  BE/src/main/java/com/team11/airbnb/domain/RoomInfo.java
  BE/src/main/java/com/team11/airbnb/domain/ThemeSpot.java
  BE/src/main/java/com/team11/airbnb/web/controller/HomeController.java
  BE/src/main/java/com/team11/airbnb/web/controller/RoomController.java
  BE/src/main/java/com/team11/airbnb/web/dto/AroundSpotDto.java
  BE/src/main/java/com/team11/airbnb/web/dto/HomeData.java
  BE/src/main/java/com/team11/airbnb/web/dto/MainEventDto.java
  BE/src/main/java/com/team11/airbnb/web/dto/ThemeSpotDto.java
  BE/src/main/java/com/team11/airbnb/web/repository/DistrictRepository.java
  BE/src/main/java/com/team11/airbnb/web/repository/MainEventRepository.java
  BE/src/main/java/com/team11/airbnb/web/repository/ThemeRepository.java
  BE/src/main/java/com/team11/airbnb/web/service/HomeService.java
Labels: feat, BE

#56 [iOS] HomeServie 객체를 통해 HomeView 업데이트 되는 흐름 구현
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Common/Model/Networking/AlamofireNet.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Controller/DataSource/HomeViewCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Controller/HomeViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/HomeDto.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/HomeViewComponentsData.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/Service/HomeService.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/UseCase/HomeDataManager.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/HomeView.swift
  iOS/Airbnb_iOS/Airbnb_iOSTests/JSONConverterTests.swift
  iOS/Airbnb_iOS/Airbnb_iOSTests/NetworkingTest.swift
  iOS/Airbnb_iOS/Airbnb_iOSTests/mock.json
Labels: iOS, feat

#58 [iOS] HomeView 뷰 수정 진행
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/Service/HomeService.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/HeroImageCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/Int+.swift
Labels: iOS, feat

#61 [iOS] 상세예약 페이지 화면 구현
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/host.imageset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/host.imageset/host.jpeg
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/roomImage.imageset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/roomImage.imageset/roomImage.jpeg
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/Controller/Delegate/DetailTextDescriptionDelegate.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/Controller/Delegate/ReserveToolBarDelegate.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/Controller/DetailPageViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/View/CollectionCell/DetailTextCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/View/CollectionCell/HostTextCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/View/CollectionCell/ThumbnailImageCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/View/CollectionCell/TitleTextCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/View/CollectionFooterView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/View/DetailPageCollectionView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DetailPage/View/DetailPageToolBar.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/FindAccomodationViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/CollectionLayout/DetailPageCollectionLayout.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/DataSource/DetailPageCollectionDataSource.swift
Labels: iOS, feat

#62 [iOS] 설정한 값을 토대로 숙소들을 보여주는 View 구현
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/AccomodationsViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/DataSource&Delegate/AccomodationsCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Controller/FindAccomodationViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/Model/AccomodationsViewComponentsData.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/AccomodationOptionCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/AccomodationsCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/AccomodationsView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodation/View/CountAccomodationsCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/CollectionLayout/AccomodationViewCollectionLayout.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Converter/DateConverter.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/Int+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/String+.swift
Labels: iOS, feat

#65 [iOS] Home 도메인 관련 수정
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage@2x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage@3x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage@2x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage@3x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Browsing/Controller/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Controller/DataSource/HomeViewCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Controller/HomeViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/HomeViewComponentsData.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/Model/Repository/HomeRepository.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Home/View/AroundSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/DataSource/FamousSpotCollectionDataSource.swift
Labels: iOS, refactor

#66 Docs: Readme 내역 수정
  README.md
Labels: documentation

#67 [BE] 라이브러리를 통한 시간 및 거리 단위 변환
  BE/build.gradle
  BE/src/main/java/com/team11/airbnb/openapi/DistrictSearchService.java
Labels: feat, BE
