Repository wnsxor1993/airbnb_team11, pull requests merged in 2022-05, with the labels that each got.

#3 [iOS] TabBarController 생성
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Base.lproj/Main.storyboard
  iOS/Airbnb_iOS/Airbnb_iOS/Info.plist
  iOS/Airbnb_iOS/Airbnb_iOS/SceneDelegate.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/Container/TabBarController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/ReservationViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/SearchViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/WishlistViewController.swift
Labels: iOS

#6 [iOS] SearchVC - searchBar 구현
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/SearchViewController.swift
Labels: iOS

#7 [iOS] searchVC의 collectionView 구현
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/LivingImage.imageset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/LivingImage.imageset/LivingImage.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/LivingImage.imageset/LivingImage@2x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/LivingImage.imageset/LivingImage@3x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage@2x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage@3x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage@2x.png
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage@3x.png
  iOS/Airbnb_iOS/Airbnb_iOS/SearchViewCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/CollectionHeaderView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/HeroImageCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/LivingTravelCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/RecommendCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/SearchViewController.swift
Labels: iOS

#8 [iOS] refactor: SearchVC vc 이동 수정
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/SearchViewController.swift
Labels: iOS, refactor

#11 [iOS] Refactor: Home 화면 전체 리팩토링
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/DataSource/SearchViewCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/CollectionHeaderView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchBar/SearchBarView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/AroundSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/HomeView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/MainEventCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/ThemeSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/BrowsingVC/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/TabBarItemVC/ReservationViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/TabBarItemVC/SearchViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/TabBarItemVC/WishlistViewController.swift
  iOS/Airbnb_iOS/AppDelegate.swift
  iOS/Airbnb_iOS/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/Airbnb_iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Airbnb_iOS/Assets.xcassets/Contents.json
  iOS/Airbnb_iOS/Assets.xcassets/LivingImage.imageset/Contents.json
  iOS/Airbnb_iOS/Assets.xcassets/LivingImage.imageset/LivingImage.png
  iOS/Airbnb_iOS/Assets.xcassets/LivingImage.imageset/LivingImage@2x.png
  iOS/Airbnb_iOS/Assets.xcassets/LivingImage.imageset/LivingImage@3x.png
  iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/Contents.json
  iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage.png
  iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage@2x.png
  iOS/Airbnb_iOS/Assets.xcassets/SeoulImage.imageset/SeoulImage@3x.png
  iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/Contents.json
  iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage.png
  iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage@2x.png
  iOS/Airbnb_iOS/Assets.xcassets/heroImage.imageset/heroImage@3x.png
  iOS/Airbnb_iOS/Base.lproj/LaunchScreen.storyboard
  iOS/Airbnb_iOS/Info.plist
  iOS/Airbnb_iOS/SceneDelegate.swift
Labels: iOS

#14 [iOS] Refactor: 첫번째 리뷰 사항 수정
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/gray1.colorset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/gray2.colorset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/gray3.colorset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/gray4.colorset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/gray5.colorset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/gray6.colorset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/primary.colorset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Assets.xcassets/Colors/secondary.colorset/Contents.json
  iOS/Airbnb_iOS/Airbnb_iOS/Extension/UIColor+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/CollectionLayout/HomeViewCollectionLayout.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/DataSource/SearchViewCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/UIColor+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/UiView+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/AroundSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/HomeView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/ThemeSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/TabBarItemVC/SearchViewController.swift
Labels: iOS, refactor

#15 [iOS] 숙소 찾기 화면 구현 (인기 스팟 -> 지역 검색)
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/DataSource/BrowsingSpotCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/DataSource/FamousSpotCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/BrowsingSpotCollectionView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FamousSpotCollectionView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchBar/SearchBarView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/AroundSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/SearchView/BrowsingSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/BrowsingVC/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/TabBarItemVC/SearchViewController.swift
Labels: iOS, feat

#16 [iOS] 체크인/ 체크아웃 날짜 결정하는 캘린더 뷰 구현
  iOS/Airbnb_iOS/.swiftlint.yml
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/DateData.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Extension/Date+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Extension/Day+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Extension/String+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/FindAccomodationUseCase.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/BudgetView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/DayLabel.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/DayRangeIndicatorView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/FindAccomodationCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/FindAccomodationView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/SelectCalendarView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/BrowsingVC/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/FindAccomodationVC/FindAccomodationViewController.swift
  iOS/Airbnb_iOS/Podfile
  iOS/Airbnb_iOS/Podfile.lock
Labels: iOS, feat

#17 [iOS] 숙소 찾기 장소 - 날짜 화면 연결
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Model/Data/DateData.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Model/UseCase/FindAccomodationUseCase.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/BrowseView/BrowsingSpotCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/BrowseView/BrowsingSpotCollectionView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/BrowseView/FamousSpotCollectionView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/BrowsingVC/BrowseViewController.swift
Labels: iOS, feat

#27 [iOS] Refactor: Browse 화면 리팩토링
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/CollectionLayout/BrowsingSpotCollectionLayout.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/DataSource/BrowsingSpotCollectionDataSource.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/BrowseView/BorwsingSpotCollectionView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/BrowseView/FamousSpotCollectionView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/BrowsingVC/BrowseViewController.swift
Labels: iOS, refactor

#26 [iOS] Refactor: 두번째 리뷰 사항 수정
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Model/UseCase/FindAccomodationUseCase.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Converter/DateConverter.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/SelectCalendarView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/FindAccomodationVC/FindAccomodationViewController.swift
Labels: iOS, refactor

#30 [iOS] 사용자 위치 권한 요청 및 위치 데이터 할당 기능 추가
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/xcuserdata/zeto.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/TabBarItemVC/SearchViewController.swift
Labels: iOS, feat

#31 [iOS] Custom Calendar 구현 + refactoring
  iOS/Airbnb_iOS/Airbnb_iOS.xcodeproj/project.pbxproj
  iOS/Airbnb_iOS/Airbnb_iOS/Model/Day.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Model/MonthMetadata.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Model/UseCase/CalendarViewControllerUseCase.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Model/UseCase/FindAccomodationUseCase.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/Day+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/Utility/Extension/String+.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/CalendarCollectionCell.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/CalendarCollectionHeaderView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/CalendarView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/DayLabel.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/DayRangeIndicatorView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/FindAccomodationView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/View/FindAccomodationView/SelectCalendarView.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/FindAccomodationVC/CalendarViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/FindAccomodationVC/FindAccomodationViewController.swift
  iOS/Airbnb_iOS/Podfile
  iOS/Airbnb_iOS/Podfile.lock
Labels: iOS, refactor

#33 [iOS] Refactor: 일부 구문 수정
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/BrowsingVC/BrowseViewController.swift
  iOS/Airbnb_iOS/Airbnb_iOS/ViewController/TabBarItemVC/SearchViewController.swift
Labels: iOS, refactor

#34 [BE] 엔티티 설계 및 더미 데이터 입력
  BE/.gitignore
  BE/HELP.md
  BE/build.gradle
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/com/team11/airbnb/AirbnbApplication.java
  BE/src/main/java/com/team11/airbnb/domain/Address.java
  BE/src/main/java/com/team11/airbnb/domain/Host.java
  BE/src/main/java/com/team11/airbnb/domain/Reservation.java
  BE/src/main/java/com/team11/airbnb/domain/ReservationSchedule.java
  BE/src/main/java/com/team11/airbnb/domain/Review.java
  BE/src/main/java/com/team11/airbnb/domain/Room.java
  BE/src/main/java/com/team11/airbnb/domain/RoomImage.java
  BE/src/main/java/com/team11/airbnb/domain/RoomInfo.java
  BE/src/main/java/com/team11/airbnb/domain/User.java
  BE/src/main/java/com/team11/airbnb/domain/WishList.java
  BE/src/main/resources/application.properties
  BE/src/test/java/com/team11/airbnb/AirbnbApplicationTests.java
Labels: BE

#35 chore: 초기 데이터 입력
  BE/src/main/java/com/team11/airbnb/domain/Host.java
  BE/src/main/java/com/team11/airbnb/domain/Reservation.java
  BE/src/main/java/com/team11/airbnb/domain/ReservationSchedule.java
  BE/src/main/java/com/team11/airbnb/domain/Review.java
  BE/src/main/java/com/team11/airbnb/domain/Room.java
  BE/src/main/java/com/team11/airbnb/domain/RoomImage.java
  BE/src/main/java/com/team11/airbnb/domain/RoomInfo.java
  BE/src/main/java/com/team11/airbnb/domain/User.java
  BE/src/main/java/com/team11/airbnb/domain/WishList.java
  BE/src/main/resources/application.properties
Labels: BE
